---
import Layout from '@/layouts/Layout.astro';
import BlogLayout from '@/layouts/BlogLayout.astro';
import PostListItem from '@/components/PostListItem.astro';
import {fetchPosts} from '@/api/posts.ts';

const posts = await fetchPosts();
---

<Layout>
  <BlogLayout>
    <div class="max-md mx-auto">
      <ul>
        {posts.map((post: any) => <PostListItem post={post} />)}
      </ul>
    </div>
  </BlogLayout>
</Layout>
