---
import '@fontsource-variable/source-sans-3';
import '@fontsource/source-sans-3/400.css';
// import '@fontsource-variable/source-sans-3/wght-italic.css';
import '@fontsource-variable/source-serif-4';
// import '@fontsource-variable/source-serif-3/wght-italic.css';
import '@fontsource/fira-mono';
import '@fontsource/rubik-mono-one';
import '@fontsource/marck-script';

import Head from '@/components/Head.astro';

const {bodyClasses} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head />
  <body class:list={bodyClasses}>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --screen-xs: 375px;
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
    --screen-2xl: 1536px;
    --screen-3xl: 1920px;

    --font-sans: 'Source Sans 3 Variable', 'ui-sans-serif', 'system-ui',
      'sans-serif';
    --font-serif: 'Source Serif 4 Variable', 'ui-serif', 'Georgia', 'serif';
    --font-mono: 'Fira Mono', 'ui-monospace', 'Cascadia Mono', 'Segoe UI Mono',
      'Menlo', 'monospace';
    --font-display: 'Rubik Mono One', 'ui-sans-serif', 'system-ui', 'sans-serif';
    --font-script: 'Marck Script', 'cursive';

    --page-padding: 0.5rem;
    --margin-x: 0.5rem;
    --margin-y: 2rem;

    --color-my-blue: #210cac;
    --color-blue-50: #eff6ff;
    --color-blue-300: #93c5fd;
    --color-blue-500: #3b82f6;
    --color-slate-400: #a8a29e;
    --color-rose-500: #f43f5e;

    --heading-line-height: 1.2;

    --h1-font-size: 2.25rem; /* 36px  */
    --h2-font-size: 1.5rem; /* 24px */
    --h3-font-size: 1.25rem; /* 20px */
    --h4-font-size: 1.25rem; /* 20px */
    --h5-font-size: 1.25rem; /* 20px */
    --h6-font-size: 1.25rem; /* 20px */

    --paragraph-spacing: 1.5rem;
    --section-spacing: 3rem;
    --heading-bottom-spacing: 0.75rem;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 100%;
  }

  body {
    display: flow-root;
    font-family: var(--font-serif);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
    width: 100vw;
    min-height: 100dvh;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
    font-weight: 700;
    line-height: var(--heading-line-height);
    margin-bottom: var(--heading-bottom-spacing);
  }

  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: var(--section-spacing);
  }

  article > h1:first-child,
  article > h2:first-child,
  article > header:first-child h1,
  article > header:first-child h2 {
    margin-top: 0;
  }

  h1 {
    font-size: var(--h1-font-size);
    text-align: center;
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  h5 {
    font-size: var(--h5-font-size);
  }

  h6 {
    font-size: var(--h6-font-size);
  }

  p {
    line-height: 1.6;
  }

  strong {
    font-weight: bold;
  }

  b {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  i {
    font-style: italic;
  }

  main {
    padding: 0 var(--margin-x);
    margin: var(--margin-y) auto;
  }

  p + p,
  p + pre,
  pre + p {
    margin-top: var(--paragraph-spacing);
  }

  li {
    list-style: none;
  }

  pre {
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    padding: 32px;
    margin-top: 28px;
    overflow: scroll;
  }

  code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(249, 249, 249);
    font-family: var(--font-mono);
    font-size: 16px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    padding: 2px 4px;
  }

  pre > code {
    white-space: pre;
    word-wrap: normal;
    padding: 0;
    border: none;
  }

  .super-heading {
    font-family: var(--font-display);
  }

  .coolio {
    background: linear-gradient(var(--color-my-blue), var(--color-blue-300));
  }

  .max-sm {
    max-width: calc(var(--screen-sm) + var(--margin-x) * 2);
  }

  .max-md {
    max-width: calc(var(--screen-md) + var(--margin-x) * 2);
  }

  .max-lg {
    max-width: calc(var(--screen-lg) + var(--margin-x) * 2);
  }

  .max-xl {
    max-width: calc(var(--screen-xl) + var(--margin-x) * 2);
  }

  .max-2xl {
    max-width: calc(var(--screen-2xl) + var(--margin-x) * 2);
  }

  .max-3xl {
    max-width: calc(var(--screen-3xl) + var(--margin-x) * 2);
  }

  .prose {
    max-width: var(--screen-md);
    font-size: 1.25rem;
    margin: 0 auto;
  }

  .subtitle {
    font-weight: 100;
    text-align: center;
  }

  @media (min-width: 640px) {
    :root {
      --page-padding: 1rem;
      --margin-x: 1rem;

      --h1-font-size: 2.5rem; /* 40px  */
      --h2-font-size: 1.75rem; /* 28px  */
      --h3-font-size: 1.5rem; /* 24px  */
      --h4-font-size: 1.375rem; /* 22px */
      --h5-font-size: 1.3125rem; /* 21px */
      --h6-font-size: 1.25rem; /* 20px */
    }
  }

  @media (min-width: 768px) {
    :root {
      --page-padding: 1.5rem;
      --margin-y: 2.25rem;
      --margin-x: 1.5rem;

      --h1-font-size: 2.75rem; /* 44px */
      --h2-font-size: 2rem; /* 32px */
      --h3-font-size: 1.75rem; /* 28px*/
      --h4-font-size: 1.5rem; /* 24px */
      --h5-font-size: 1.375rem; /* 22px */
      --h6-font-size: 1.25rem; /* 20px */

      --paragraph-spacing: 2rem;
      --section-spacing: 4rem;
      --heading-bottom-spacing: 0.875rem;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --page-padding: 2rem;

      --h1-font-size: 3rem; /* 48px */
      --h2-font-size: 2.25rem; /* 36px */
      --h3-font-size: 2rem; /* 32px */
      --h4-font-size: 1.75rem; /* 28px */
      --h5-font-size: 1.5rem; /* 24px */
      --h6-font-size: 1.25rem; /* 20px */
    }
  }

  @media (min-width: 1280px) {
    :root {
      --h1-font-size: 3.25rem; /* 52px */
      --h2-font-size: 2.5rem; /* 40px */
      --h3-font-size: 2.25rem; /* 36px */
      --h4-font-size: 2rem; /* 32px */
      --h5-font-size: 1.75rem; /* 28px */
      --h6-font-size: 1.5rem; /* 24px */

      --paragraph-spacing: 2.5rem;
      --section-spacing: 5rem;
      --heading-bottom-spacing: 1rem;
    }
  }

  @media (min-width: 1536px) {
    :root {
      --h1-font-size: 3.5rem; /* 56px */
      --h2-font-size: 2.75rem; /* 44px */
      --h3-font-size: 2.5rem; /* 40px */
      --h4-font-size: 2.25rem; /* 36px */
      --h5-font-size: 2rem; /* 32px */
      --h6-font-size: 1.75rem; /* 28px */
    }
  }

  @media (min-width: 1920px) {
    :root {
      --h1-font-size: 3.75rem; /* 60px */
      --h2-font-size: 3rem; /* 48px */
      --h3-font-size: 2.75rem; /* 44px */
      --h4-font-size: 2.5rem; /* 40px */
      --h5-font-size: 2.25rem; /* 36px */
      --h6-font-size: 2rem; /* 32px */
    }
  }
</style>
